<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LunchBox</title>
        <!--STYLESHEETS-->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">    
        <!--JAVASCRIPT-->
    </head>
    <body>
        <div class="nu-header">
            LUNCHBOX
        </div>
        <div class="nu-body">
            <form>
                <label>Restaurant</label>
                <input type="text" id="js-restaurant-input">
                <label>Address</label>
                <input type="text" id="js-address-input">
                <br>
                <br>
                <button id="search-btn">Submit</button>
            </form>
        </div>
        <div class="nu-footer">
            FOOTER STUFF
        </div>
        <script>

            //-----ROUTES WILL GO HERE

            //------
        </script>
    </body>
</html>